<h3>Class Index</h3>
<table>
    <thead> 
        <th>ID</th> 
        <th>Title</th> 
        <th>Danger Level</th> 
		<th>Description</th> 
    </thead> 
    <tbody>
        {{#each class}} 
        <tr> 
            <td>{{this.class_id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.danger_level}}</td>
            <td>{{this.description}}</td> 
            <!--<td><button onclick="deletePerson({{id}})">Delete</button></td>
            <td><a href="/medication2/{{id}}">Update</a></td>-->
        </tr> 
        {{/each}} 
    </tbody> 
</table>

<hr>

<h3>Manage Classes</h3>

<h4 class="header">Add Class</h4>
<form id="add_class" method="POST" action="/class"> 
    <div class="input">
        <label for="title">Title: </label>
        <input type="text" name="title">
    </div>
    <div class="dropdown">
        <label for="danger_level">Danger level:</label>
        <select name="danger_level">
            <option value="Apprentice">Apprentice</option>
            <option value="Adept">Adept</option>
            <option value="Expert">Expert</option>
            <option value="Legendary">Legendary</option>
            <option value="Zenith">Zenith</option>
        </select>
    </div>
    <div class="description">
        <label for="description">Description:</label>
        <textarea name="description" rows="3" cols="80"></textarea> 
    </div>
    <input type="submit" value="Submit New Class">
</form>
    
<hr>

<h4 class="header">Update Class</h4>
<form>
    <label for="class_id_update">Enter the ID of the class to update:</label>
    <input type="number" name="class_id_update">

    <div class="input">
        <label for="title">Change title: </label>
        <input type="text" name="title">
    </div>
    <div class="dropdown">
        <label for="danger_level">Change danger level:</label>
        <select name="danger_level">
            <option value="danger_1">Apprentice</option>
            <option value="danger_2">Adept</option>
            <option value="danger_3">Expert</option>
            <option value="danger_4">Legendary</option>
            <option value="danger_5">Zenith</option>
        </select>
    </div>
    <div class="description">
        <label for="class-description">Change description:</label>
        <textarea name="class-description" rows="3" cols="80"></textarea> 
    </div>
    <input type="submit" value="Update Class">

</form>

<hr>

<h4 class="header">Remove Class</h4>
<form>
    <label for="class_id_remove">Enter the ID of the class to be removed:</label>
        <input type="number" name="class_id_remove"><br>
    <input type="submit" value="Remove Class">
</form>
