<h3>Spell Index</h3>
<table>
    <thead> 
        <th>ID</th> 
        <th>Class</th> 
        <th>Element</th> 
		<th>Name</th> 
		<th>Cost</th> 
		<th>Damage</th>
        <th></th>
        <th></th>
    </thead> 
    <tbody>
        {{#each spell}} 
        <tr> 
            <td>{{this.spell_id}}</td>
            <td>{{this.class_id}}</td>
            <td>{{this.element}}</td>
            <td>{{this.spell_name}}</td>
            <td>{{this.cost}}</td>
            <td>{{this.damage}}</td>
            <td><a href="/spell/{{this.spell_id}}">Update</td>
            <td><a onclick="deleteSpell({{this.spell_id}})">Delete</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table>

<hr>

<h3>Manage Spells</h3>

<h4 class="header">Add Spell</h4>
<form id="add_spell" method="POST" action="/spell"> 
    <div class="dropdown">
        <label for="class">Class:</label>
        <select name="class_id">
            {{#each class}}
                <option value='{{class_id}}'>{{class_id}}</option>
            {{/each}}
        </select>
    </div>
    <div class="dropdown">
        <label for="element">Element:</label>
        <select name="element">
            <option value="Air">Air</option>
            <option value="Water">Water</option>
            <option value="Fire">Fire</option>
            <option value="Earth">Earth</option>
            <option value="Dark">Dark</option>
            <option value="Light">Light</option>
        </select>
    </div>

    <div class="input">
        <label for="name">Name: </label>
        <input type="text" name="spell_name"><br>

        <label for="cost">Cost [10-1000]: </label>
        <input type="number" name="cost"><br>
    
        <label for="Damage">Damage [0-10000]: </label>
        <input type="number" name="damage"><br>
    </div>
    <input type="submit" value="Submit New Spell">
</form>

<hr>

<h4 class="header">Update Spell</h4>
<form id="update_spell" method="POST" action="/spell">
    <label for="spell_id_update">Enter the ID of the spell to update:</label>
    <input type="number" name="spell_id_update">

    <div class="dropdown">
        <label for="class">Class:</label>
        <select name="class">
            {{#each class}}
                <option value='{{class_id}}'>{{class_id}}</option>
            {{/each}}
        </select>
    </div>
    <div class="dropdown">
        <label for="element">Change element:</label>
        <select name="element">
            <option value="Air">Air</option>
            <option value="Water">Water</option>
            <option value="Fire">Fire</option>
            <option value="Earth">Earth</option>
            <option value="Dark">Dark</option>
            <option value="Light">Light</option>
        </select>
    </div>

    <div class="input">
        <form>
            <label for="name">Change name: </label>
            <input type="text" name="name"><br>
        
            <label for="cost">Change cost [10-1000]: </label>
            <input type="number" name="cost"><br>
        
            <label for="damage">Change damage [0-10000]: </label>
            <input type="number" name="damage"><br>
        </form>
    </div>

    <input type="submit" value="Update Spell">
</form>

<hr>

<h4 class="header">Remove Spell</h4>
<form>
    <label for="spell_id_remove">Enter the ID of the spell to be removed:</label>
        <input type="number" name="spell_id_remove"><br>
    <input type="submit" value="Remove Spell">
</form>