<h3>Student Index</h3>
<table>
    <thead> 
        <th>ID</th> 
        <th>Class</th> 
        <th>Name</th> 
        <th>Studying Under</th> 
		<th>Level</th> 
		<th>Date Born</th> 
        <th>Registration Date</th> 
		<th>Species</th> 
        <th></th>
        <th></th>
    </thead> 
    <tbody>
        {{#each student}} 
        <tr> 
            <td>{{this.student_id}}</td>
            <td>{{this.class_id}}</td>
            <td>{{this.student_name}}</td> 
            <td>{{this.master_id}}</td>
            <td>{{this.danger_level}}</td>
            <td>{{this.date_born}}</td> 
            <td>{{this.registration}}</td> 
            <td>{{this.species}}</td> 
            <td><a href="/student/{{this.student_id}}">Update</td>
            <td><button id="delete_button" onclick="deleteStudent({{this.student_id}})">Delete</button></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table>

<p>You can view each student's spell roster <a href="/student_spell">here</a>.

<hr>

<h3>Manage Students</h3>

<h4 class="header">Add Student</h4>
<form id="add_student" method="POST" action="/student"> 
    <div class="dropdown">
        <label for="class">Class:</label>
        <select name="class_id">
            {{#each class}}
                <option value='{{class_id}}'>{{class_id}}</option>
            {{/each}}
        </select>
    </div>

    <div class="input">
        <label for="name">Name: </label>
        <input type="text" name="student_name"><br>
    
        <label for="species">Species: </label>
        <input type="text" name="species"><br>

        <label for="date_born">Birthdate: </label>
        <input type="date" name="date_born"><br>

        <label for="reg_year">Registration date: </label>
        <input type="date" name="registration"><br>
    </div>
    <div class="dropdown">
        <label for="danger_level">Danger level:</label>
        <select name="danger_level">
            <option value="Apprentice">Apprentice</option>
            <option value="Adept">Adept</option>
            <option value="Expert">Expert</option>
            <option value="Legendary">Legendary</option>
            <option value="Zenith">Zenith</option>
        </select>
    </div>
    <div class="dropdown">
        <label for="master">Master:</label>
        <select name="master_id">
            {{#each master}}
                <option value='{{master_id}}'>{{master_id}}</option>
            {{/each}}
        </select>
    </div>
    <input type="submit" value="Submit New Student">
</form>

<hr>

<h4 class="header">Update Student</h4>
<form>
    <label for="student_id_update">Enter the ID of the student to update:</label>
    <input type="number" name="student_id_update">

    <div class="dropdown">
        <label for="class">Change class:</label>
        <select name="class">
            {{#each class}}
                <option value='{{class_id}}'>{{class_id}}</option>
            {{/each}}
        </select>
    </div>
    <div class="select">
        <form>
            <label for="spells">Edit spells:</label>
            <select name="spells" id="multiselect" multiple>
                <option value="spell1">Spell 1</option>
                <option value="spell2">Spell 2</option>
                <option value="spell3">Spell 3</option>
                <option value="spell4">Spell 4</option>
                <option value="spell4">Spell 5</option>
            </select>
        </form>
    </div>

    <div class="dropdown">
        <label for="edit_master">Edit master:</label>
        <select name="edit_master">
            <option value="master_1">Master 1</option>
            <option value="master_2">Master 2</option>
            <option value="master_3">Master 3</option>
            <option value="master_4">Master 4</option>
            <option value="master_5">Master 5</option>
        </select>
    </div>
    
    <div class="input">
        <label for="name">Change name: </label>
        <input type="text" name="name"><br>
    
        <label for="cost">Change birthdate: </label>
        <input type="date" name="birthdate"><br>
    
        <label for="species">Change species: </label>
        <input type="text" name="species"><br>
    </div>

    <input type="submit" value="Update Student"><br>
</form>