<h3>Student Spell Rosters</h3>
<table>
    <thead> 
        <th>Spell Registration ID</th> 
        <th>Student ID</th> 
        <th>Spell ID</th> 
    </thead> 
    <tbody>
        {{#each student_spell}} 
        <tr> 
            <td>{{student_spell_id}}</td>
            <td>{{student_id}}</td>
            <td>{{spell_id}}</td>
            <!--<td><button onclick="deletePerson({{id}})">Delete</button></td>
            <td><a href="/medication2/{{id}}">Update</a></td>-->
        </tr> 
        {{/each}} 
    </tbody> 
</table>
<hr>

<h3>Manage Student Spell Roster</h3>

<h4 class="header">Add new spell to a student's current roster:</h4>
<form id="add_student_spell" method="POST" action="/add_student_spell">         
    <div class="dropdown">
        <label for="student_id">Student ID:</label>
        <select name="student_id">
            {{#each student}}
                <option value='{{student_id}}'>{{student_id}}</option>
            {{/each}}
        </select>
    </div>

    <div class="dropdown">
        <label for="spell_id">Spell ID:</label>
        <select name="spell_id">
            {{#each spell}}
                <option value='{{spell_id}}'>{{spell_id}}</option>
            {{/each}}
        </select>
    </div>

    <input type="submit" value="Submit">

</form>