<h4 class="header">Update {{class.class_name}}</h4>

<form id="update_class" action="/class" method="POST">
    <div class="input">
        <label for="title">Change title: </label>
        <input type="text" name="title" value="{{class.title}}">
    </div>
    <div class="dropdown">
        <label for="danger_level">Change danger level:</label>
        <select name="danger_level">
            <option value="{{class.danger_level}}" selected>{{class.danger_level}}</option>
            <option value="Apprentice">Apprentice</option>
            <option value="Adept">Adept</option>
            <option value="Expert">Expert</option>
            <option value="Legendary">Legendary</option>
            <option value="Zenith">Zenith</option>
        </select>
    </div>
    <div class="description">
        <label for="description">Change description:</label>
        <textarea name="description" rows="3" cols="80">{{class.description}}</textarea> 
    </div>
</form> <br>

<button onclick="updateClass({{class.class_id}})">Update</button> <button><a href="/class">Cancel</button>