{{!-- <h1>Update {{spell.spell_name}}:</h1>
<form id="update-spell" action="/spell" method="post">
    spell name: <input type="text" name="spell_name" value="{{spell.spell_name}}"><br>
    element: <input type="text" name="lname" value="{{spell.element}}"><br>
    cost: <input type="number" name="cost" value="{{spell.cost}}"><br>
    damage: <input type="number" name="damage" value="{{spell.damage}}"><br>
    Homeworld: <select name="homeworld" id="planet-selector"> 
        {{#each planets}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    cost: <input type="number" name="cost" value="{{person.age}}"><br>
</form>
<button onclick="updateSpell({{spell.spell_id}})">Update</button>
<script defer>classSelect({{spell.class_id}});</script> --}}

<h4 class="header">Update {{spell.spell_name}}</h4>

<form id="update_spell" action="/spell" method="POST">
    <div class="dropdown">
        <label for="class">Change class:</label>
        <select name="class_id"> 
            <option value="{{spell.class_id}}" selected>{{spell.class_id}}</option>
            {{#each class}}
                <option value="{{class_id}}">{{class_id}}</option>
            {{/each}}
        </select>
    </div>
    <div class="dropdown">
        <label for="element">Change element:</label>
        <select name="element">
            <option value="{{spell.element}}" selected>{{spell.element}}</option>
            <option value="Air">Air</option>
            <option value="Water">Water</option>
            <option value="Fire">Fire</option>
            <option value="Earth">Earth</option>
            <option value="Dark">Dark</option>
            <option value="Light">Light</option>
        </select>
    </div>

    <div class="input">
        <label for="name">Change name: </label>
        <input type="text" name="spell_name" value="{{spell.spell_name}}"><br>
    
        <label for="cost">Change cost [10-1000]: </label>
        <input type="number" name="cost" value="{{spell.cost}}"><br>
    
        <label for="damage">Change damage [0-10000]: </label>
        <input type="number" name="damage" value="{{spell.damage}}"><br>
    </div> <br>
</form>

<button onclick="updateSpell({{spell.spell_id}})">Update</button> <button><a href="/spell">Cancel</a></button>