<table>
{{#each spell}}
  <tr>
    <td>{{spell_id}}</td>
    <td>{{spell_class}}</td>
	<td>{{spell_element}}</td>
    <td>{{spell_name}}</td>
	<td>{{spell_cost}}</td>
	<td>{{spell _damage}}</td>
  </tr>
{{/each}}
</table>